
@using OnlineTicariOtomasyon.Models.Siniflar
@model List<KargoDetay>
@{
    ViewBag.Title = "KargoTakip";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}

<h2>KargoTakip</h2>



<table id="TblKargoDetay" class="table table-bordered mt-4">
    <thead>
        <tr>
            <th>Takip Kodu</th>
            <th>Personel</th>
            <th>Alıcı</th>
            <th>Tarih</th>
            <th>Detay</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="td">@item.TakipKodu</td>
                <td class="td">@item.Personel.PersonelAd @item.Personel.PersonelSoyad</td>
                <td class="td">@item.Cariler.CariAd @item.Cariler.CariSoyad</td>
                <td class="td">@item.Tarih.ToString("dd-MM-yyyy")</td>
                <td>
                    <a class="btn btn-info rounded text-white font-weight-bold view" data-toggle="modal" data-takipids="/CariPanel/CariKargoTakip/@item.TakipKodu" data-target="#myModal">Detaylar</a>
                </td>


            </tr>
        }
    </tbody>
</table>



<div class="container">

    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
                </div>
            </div>

        </div>
    </div>

</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#TblKargoDetay').DataTable({
                "initComplete": function () {
                    var api = this.api();
                    api.$('.td').click(function () {
                        api.search(this.innerHTML).draw();
                    });
                }
            });
        });


     

        $(function () {
            // a tagimizde bulunan .view classımıza click olduğunda
            $('#TblKargoDetay tbody').on('click', '.view', function () {
                $(".modal-title").html("Kargo Takip");
                // data-target dan url mizi al
                var url = $(this).data("takipids");
                // bu urlimizi post et
                $.post(url, function (data) { })
                    //      eğer işlemimiz başarılı bir şekilde gerçekleşirse
                    .done(function (data) {
                        //    gelen datayı .modal-body mizin içerise html olarak ekle
                        $("#myModal .modal-body").html(data);
                        //  sonra da modalimizi göster
                        $("#myModal").modal("show");
                    })
                    //  eğer işlem başarısız olursa
                    .fail(function () {
                        // modalımızın bodysine Error! yaz
                        $("#myModal .modal-body").text("Error!!");
                        //  sonra da modalimizi göster
                        $("#myModal").modal("show");
                    })

            });
        });


    </script>
}

