@using OnlineTicariOtomasyon.Models.Siniflar
@model List<FaturaKalem>
@{
    ViewBag.Title = "FaturaDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<a class="btn btn-primary mt-2 mb-2 add text-white font-weight-bold" data-toggle="modal" data-yenikalemaddids="/Fatura/YeniKalem//@ViewBag.ftrID" data-target="#myModal">Yeni Kalem</a>


<table id="TblFaturaDetay" class="table table-bordered mt-2">
    <thead>
        <tr>
            <th>Fatura ID</th>
            <th>Açıklama</th>
            <th>Miktar</th>
            <th>Birim Fiyat</th>
            <th>Tutar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="td">@item.FaturaKalemID</td>
                <td class="td">@item.Aciklama</td>
                <td class="td">@item.Miktar</td>
                <td class="td">@item.BirimFiyat</td>
                <td class="td">@item.Tutar</td>


            </tr>
        }
    </tbody>
</table>


<div class="container">

    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
                </div>
            </div>

        </div>
    </div>

</div>


      


@section scripts {
    <script>
        $(document).ready(function () {
            $('#TblFaturaDetay').DataTable({
                "initComplete": function () {
                    var api = this.api();
                    api.$('.td').click(function () {
                        api.search(this.innerHTML).draw();
                    });
                }
            });
        });

        $(function () {
            // a tagimizde bulunan .view classımıza click olduğunda
            $(".add").click(function () {
                $(".modal-title").html("Yeni Kalem Ekleme");
                // data-target dan url mizi al
                var url = $(this).data("yenikalemaddids");
                // bu urlimizi post et
                $.get(url, function (data) { })
                    //      eğer işlemimiz başarılı bir şekilde gerçekleşirse
                    .done(function (data) {
                        //    gelen datayı .modal-body mizin içerise html olarak ekle
                        $("#myModal .modal-body").html(data);
                        //  sonra da modalimizi göster
                        $("#myModal").modal("show");
                    })
                    //  eğer işlem başarısız olursa
                    .fail(function () {
                        // modalımızın bodysine Error! yaz
                        $("#myModal .modal-body").text("Error!!");
                        //  sonra da modalimizi göster
                        $("#myModal").modal("show");
                    })

            });
        });

    </script>
}


